a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgba(172, 0, 0, 0.402);
}

.about {
  margin-top: 20px;
  display: flex;
}
.about * h3{
 padding: 20px;
}


.btn-info{
  background-color: #fac176;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  letter-spacing: 1px;
}

.btn-info:hover{
  background: transparent;
  color: aliceblue;
}

.card {
  margin: 10px;
}

.card-img{
margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  color: white;
  background: #262626;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-content {
  padding-top: 30px;
  position: relative;
  margin-bottom: 20px;
}


.insert {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  margin-left: 10px;
  width: 200px;
}

.logologo{
  width: 100px;
  height: 50px;
}

.navbar {
  background-color: rgb(255, 149, 0);
}

.navbar-brand {
  font-size: 30px !important;
}

.planas {
  margin-top: 20px;
  height: 70vh;
  width: 100%;
}

.save {
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
}

.sort {
  display: inline;
}

.search {
  margin-right: 10px;
}

.table * {
  text-align: center;
}


